.login {
  padding: var(--section-p);
}
.form {
  width: 320px;
  border-radius: 4px;
  background-color: var(--c-secondary-700);
  padding: 2rem;
  color: var(--c-neutral-50);
  margin: 0 auto;
}
.form p {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
.form form {
  margin-top: 1.5rem;
}
.form form > div {
  margin-top: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.form form > div label {
  display: block;
  color: var(--c-neutral-300);
  margin-bottom: 4px;
}
.form form > div input {
  width: 100%;
  border-radius: 4px;
  border: 1px solid var(--c-neutral-300);
  outline: 0;
  background-color: var(--c-secondary-100);
  padding: 0.75rem 1rem;
  color: var(--c-neutral-900);
}
.form form > div input:focus {
  border-color: var(--c-primary-600);
}
.form form > div > div {
  display: flex;
  justify-content: flex-end;
  font-size: 0.75rem;
  line-height: 1rem;
  color: var(--c-neutral-200);
  margin: 8px 0 14px 0;
}
.form form > div > div a {
  color: var(--c-neutral-50);
  text-decoration: none;
  font-size: 14px;
}
.form form > div > div a:hover {
  text-decoration: underline var(--c-primary-600);
}
.form form > button {
  display: block;
  width: 100%;
  background-color: var(--c-primary-600);
  color: var(--c-neutral-50);
  padding: 0.75rem;
  text-align: center;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}
.form form > button:hover {
  background-color: var(--c-primary-700);
}
